<%= tag.div(flash[:alert], class: "text-red-600 font-semibold text-center py-2 px-4 mb-4 rounded-md") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "text-green-600 font-semibold text-center py-2 px-4 mb-4 rounded-md") if flash[:notice] %>

<div class="flex items-center justify-center min-h-screen bg-gray-900">
  <div class="max-w-sm mx-auto bg-indigo-600 shadow-lg rounded-xl p-6 w-full sm:w-96">
    <%= form_with url: session_path, class: "space-y-4" do |form| %>
      <h1 class="text-5xl md:text-3xl mb-7 font-bold text-center text-white">Sign in</h1>
      <div class="text-center mt-4">
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "w-full px-4 py-3 bg-indigo-700 text-white rounded-md placeholder-indigo-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
      </div>
      <div class="text-center mt-4">
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "w-full px-4 py-3 bg-indigo-700 text-white rounded-md placeholder-indigo-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
      </div>
      <div class="text-center mt-4">
        <%= form.submit "Sign in", class: "w-full py-3 bg-indigo-500 text-white font-semibold rounded-md hover:bg-indigo-600 transition-all" %>
      </div>
      
      <div class="text-center mt-4">
        <%= link_to "Forgot password?", new_password_path, class: "text-indigo-400 hover:text-indigo-600 font-semibold" %>
      </div>
    <% end %>
  </div>
</div>