<section class="flex flex-col justify-left antialiased text-gray-50 p-10">
  <h1 class='text-6xl font-bold text-center'>Deeds</h1>
  <br>

  <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row">
    <%= link_to "New deed", new_deed_path, class: 'inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-indigo-600 dark:bg-indigo-600 dark:text-white-800 rounded-md sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px' %>
  </div>

  <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row">
    <%= link_to "Calendar", calendar_path, class: 'inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-indigo-600 dark:bg-indigo-600 dark:text-white-800 rounded-md sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px' %>
  </div>

  <br>

  <div class="flex flex-col items-center justify-center gap-5 mt-6 mb-6 md:flex-row">
    <label for="showFinished" class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-indigo-600 dark:bg-indigo-600 dark:text-white-800 rounded-md sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px">Show Completed Tasks</label>
    <input type="checkbox" id="showFinished" class="focus:ring-indigo-500" />
  </div>

  <% @deeds.each do |deed| %>
    <% if deed.finished? %>
      <div class="h-full completed-task" style="display: none;text-decoration: line-through;">
    <% else %>
      <div class="h-full unfinished-task" style="display: none;">
    <% end %>
      
      <div class="max-w-2xl mx-auto bg-indigo-600 shadow-lg rounded-lg">
        <div class="px-6 py-5">
          <div class="flex items-start">
            <svg class="fill-current flex-shrink-0 mr-5" width="30" height="30" viewBox="0 0 30 30">
              <path class="text-indigo-300" d="m16 14.883 14-7L14.447.106a1 1 0 0 0-.895 0L0 6.883l16 8Z" />
              <path class="text-indigo-200" d="M16 14.619v15l13.447-6.724A.998.998 0 0 0 30 22V7.619l-14 7Z" />
              <path class="text-indigo-500" d="m16 14.619-16-8V21c0 .379.214.725.553.895L16 29.619v-15Z" />
            </svg>
            <div class="flex-grow truncate">
              <div class="w-full sm:flex justify-between items-center mb-3">
                <h2 class="text-2xl leading-snug font-extrabold text-gray-50 truncate mb-1 sm:mb-0"><%= deed.title %></h2>
                <div class="flex-shrink-0 flex items-center space-x-2 sm:ml-2">
                  <button class="flex items-center text-left text-sm font-medium text-indigo-100 hover:text-white group focus:outline-none focus-visible:border-b focus-visible:border-indigo-100">
                    <p class="w-6 h-4 flex-shrink-0 mr-10 fill-current text-gray-300 group-hover:text-gray-200">
                      <%= deed.total_time %>
                    </p>
                  </button>
                </div>
              </div>
              <div class="flex items-end justify-between whitespace-normal">
                <div class="max-w-md text-indigo-100">
                  <p class="mb-2"><%= deed.description unless deed.description.nil? %></p>
                </div>
                <%= link_to "->", deed, class: 'flex-shrink-0 flex items-center justify-center text-indigo-600 w-10 h-10 rounded-full bg-gradient-to-b from-indigo-50 to-indigo-100 hover:from-white hover:to-indigo-50 focus:outline-none focus-visible:from-white focus-visible:to-white transition duration-150 ml-2'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</section>

<script>
  // Get checkbox element
  const checkbox = document.getElementById('showFinished');
  
  // Function to toggle visibility of tasks
  function toggleTaskVisibility() {
    const completedTasks = document.querySelectorAll('.completed-task');
    const unfinishedTasks = document.querySelectorAll('.unfinished-task');
    
    if (checkbox.checked) {
      // Show completed tasks and hide unfinished tasks
      completedTasks.forEach(task => task.style.display = 'block');
      unfinishedTasks.forEach(task => task.style.display = 'none');
    } else {
      // Show unfinished tasks and hide completed tasks
      unfinishedTasks.forEach(task => task.style.display = 'block');
      completedTasks.forEach(task => task.style.display = 'none');
    }
  }

  // Add event listener for checkbox change
  checkbox.addEventListener('change', toggleTaskVisibility);

  // Add event listener for Turbo load event
  document.addEventListener('turbo:load', toggleTaskVisibility);

</script>

