<section class="flex flex-col justify-left antialiased bg-gray-50 text-gray-600 p-10">
    <h1 class='text-6xl font-bold text-center'>Deeds</h1>
    <br>

    <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row">
        <%= link_to "New deed", new_deed_path, class: 'inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-indigo-600 dark:bg-indigo-600 dark:text-white-800 rounded-md sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px' %>
    </div>

    <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row">
        <%= link_to "Calendar", calendar_path, class: 'inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-indigo-600 dark:bg-indigo-600 dark:text-white-800 rounded-md sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px' %>
    </div>

    <br>
<% @deeds.each do |deed| %>
    <div class="h-full">
        <!-- Card -->
        <div class="max-w-2xl mx-auto bg-indigo-600 shadow-lg rounded-lg">
            <div class="px-6 py-5">
                <div class="flex items-start">
                    <!-- Icon -->
                    <svg class="fill-current flex-shrink-0 mr-5" width="30" height="30" viewBox="0 0 30 30">
                        <path class="text-indigo-300" d="m16 14.883 14-7L14.447.106a1 1 0 0 0-.895 0L0 6.883l16 8Z" />
                        <path class="text-indigo-200" d="M16 14.619v15l13.447-6.724A.998.998 0 0 0 30 22V7.619l-14 7Z" />
                        <path class="text-indigo-500" d="m16 14.619-16-8V21c0 .379.214.725.553.895L16 29.619v-15Z" />
                    </svg>
                    <!-- Card content -->
                    <div class="flex-grow truncate">
                        <!-- Card header -->
                        <div class="w-full sm:flex justify-between items-center mb-3">
                            <!-- Title -->
                            <h2 class="text-2xl leading-snug font-extrabold text-gray-50 truncate mb-1 sm:mb-0"><%= deed.title %></h2>
                            <!-- Like and comment buttons -->
                            <div class="flex-shrink-0 flex items-center space-x-2 sm:ml-2">
                                <button class="flex items-center text-left text-sm font-medium text-indigo-100 hover:text-white group focus:outline-none focus-visible:border-b focus-visible:border-indigo-100">
                                    <p class="w-6 h-4 flex-shrink-0 mr-10 fill-current text-gray-300 group-hover:text-gray-200" viewBox="0 0 16 16">
                                        <%= deed.total_time %>
                                    </p>
                                </button>
                            </div>
                        </div>
                        <!-- Card body -->
                        <div class="flex items-end justify-between whitespace-normal">
                            <!-- Paragraph -->
                            <div class="max-w-md text-indigo-100">
                                <p class="mb-2"><%= deed.description unless deed.description.nil? %></p>
                            </div>
                            <%= link_to "->", deed, class: 'flex-shrink-0 flex items-center justify-center text-indigo-600 w-10 h-10 rounded-full bg-gradient-to-b from-indigo-50 to-indigo-100 hover:from-white hover:to-indigo-50 focus:outline-none focus-visible:from-white focus-visible:to-white transition duration-150 ml-2'%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
<% end %>
</section>
